<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Freshness Checked</title>
  <!-- Include Tailwind CSS CDN -->
  <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
</head>

<body class="bg-gray-100 dark:bg-gray-800">

  <div class="container mx-auto mt-8 px-4">

    <!-- Header with Logo and Heading -->
    <header class="flex items-center justify-between mb-8">
      <!-- Logo and Heading Link to Homepage -->
      <a href="/" class="flex items-center">
        <img src="../static/logo/logo.jpeg" alt="Logo" class="w-10 h-10 mr-2">
        <h1 class="text-2xl font-bold">Fishyfy</h1>
      </a>
    </header>

    <!-- Image Card -->
    <div class="bg-white dark:bg-gray-900 shadow-lg rounded-lg overflow-hidden mb-8">
      <div class="aspect-w-16 aspect-h-9">
        <img class="object-cover" src="{{ fish_data.fish_image }}" alt="{{ fish_data.fish_name }}">
      </div>
    </div>

    <!-- Card Container -->
    <div class="bg-white dark:bg-gray-900 shadow-lg rounded-lg overflow-hidden">

      <!-- Species Name -->
      <div class="bg-green-400 text-white py-4 px-6">
        <h1 class="text-xl font-bold">{{ fish_data.fish_name }}</h1>
      </div>

      <!-- Info Cards Container -->
      <div class="grid grid-cols-1 md:grid-cols-2 gap-4 p-6">

        <!-- Appearance Card -->
        <div class="bg-white dark:bg-gray-800 shadow-md rounded-lg overflow-hidden">
          <div class="p-6">
            <h4 class="mb-2 text-lg font-semibold text-gray-900">Appearance</h4>
            <p class="text-gray-700">{{ fish_data.fish_appearance }}</p>
          </div>
        </div>

        <!-- Habitat Card -->
        <div class="bg-white dark:bg-gray-800 shadow-md rounded-lg overflow-hidden">
          <div class="p-6">
            <h4 class="mb-2 text-lg font-semibold text-gray-900">Habitat</h4>
            <p class="text-gray-700">{{ fish_data.fish_habitat }}</p>
          </div>
        </div>

        <!-- Nutrients Card -->
        <div class="bg-white dark:bg-gray-800 shadow-md rounded-lg overflow-hidden">
          <div class="p-6">
            <h4 class="mb-2 text-lg font-semibold text-gray-900">Nutrients</h4>
            <div class="overflow-x-auto">
              <table class="w-full text-sm text-left rtl:text-right text-gray-500">
                <thead class="text-xs uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
                  <tr>
                    <th class="px-6 py-3">Nutrient Names</th>
                    <th class="px-6 py-3">Values</th>
                  </tr>
                </thead>
                <tbody>
                  {% for nutrient in fish_data.fish_nutrients %}
                  <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700">
                    <td class="px-6 py-4 font-medium text-gray-900">{{ nutrient.nutrient_title }}</td>
                    <td class="px-6 py-4 font-medium text-gray-900">{{ nutrient.nutrient_value }}</td>
                  </tr>
                  {% endfor %}
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/2.2.1/flowbite.min.js"></script>
</body>

</html>
